{% extends 'base.html' %}


{% block title %}Home{% endblock %}



{% block content %}
{% if user.is_authenticated %}
  
  <p>Hi {{ user.username }}!</p>

  <div id='new_div'>
    <p>This is my new div</p>
  </div>

  <button @click="events()" >Test</button>

  <p>Welcome to [[message]]</p>
  <p>[[content]]</p>
  
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <div id='login_links'>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
  </div>
  <p id='intro'>Now Featuring</p>
  <h1 id="welcome">[[message]]</h1>

  
  <div id='search_div'>
    <input type='text' placeholder='search' v-model='search_text' @keydown.enter='loadNew()' required>
    <button @click='loadNew()'>Go!</button>
  </div>

  
  <div v-if='this.all' id="results">
    <div v-for='result in all.items'>
      <p>[[result.title]]</p>
      <img :src='result.image'>
    </div>
    
  </div>

  
  
{% endif %}
{% endblock %}
