{% extends 'base.html' %}


{% block title %}Home{% endblock %}



{% block content %}
{% if user.is_authenticated %}
  
  <p>Hi {{ user.username }}!</p>

  <div id='new_div'>
    <p>This is my new div</p>
  </div>

  <button @click="events()" >Test</button>

  <p>Welcome to [[message]]</p>
  <p>[[content]]</p>
  
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <div id='login_links'>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>
  </div>
  <p id='intro'>Now Featuring</p>
  <h1 id="welcome">[[message]]</h1>

  
  <div id='search_div'>
    <input type='text' placeholder='search' v-model='search_text' @keydown.enter='loadContent()' required>
    <button @click='loadContent()'>Go!</button>
  </div>

  
  <div v-if='this.content' id="results">
    {% comment %} <p>[[content]]</p> {% endcomment %}
    {% comment %} <p>[[Search]]</p> {% endcomment %}
    <div v-for='show in content.Search'>
      {% comment %} <p>[[show.Title]]</p>
      <p>[[show.Year]]</p>
      <p>[[show.Type]]</p>      {% endcomment %}
      <img @click='test(show.imdbID)' :src='show.Poster' alt='show.title Poster'>
      
      {% comment %} <a :href='`https://imdb.com/title/${show.imdbID}/`'><img :src='show.Poster' alt='show.title Poster'></a> {% endcomment %}
      {% comment %} <p>[[plot]]</p> {% endcomment %}
      <show-plot-comp
      :show='show'
      :plot='plot'
      ></show-plot-comp>
    </div>
    
  </div>
  
{% endif %}
{% endblock %}
