{% extends 'base.html' %}


{% block title %}Home{% endblock %}



{% block content %}
{% if user.is_authenticated %}
  
  <p>Hi {{ user.username }}!</p>

  <div id='new_div'>
    <p>This is my new div</p>
  </div>

  <button @click="events()" >Test</button>

  <p>Welcome to [[message]]</p>
  <p>[[content]]</p>
  
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>Wlecome to [[message]]!</p>

  <div id='search_div'>
    <input type='text' placeholder='search' v-model='search_text' @keydown.enter='loadContent()' required>
    <button @click='loadContent()'>Go!</button>
  </div>

  <div v-if='this.content' id="results">
    <p>[[content]]</p>
    <p>[[Search]]</p>
    <hr>
    <div v-for='show in content.Search'>
      <p>[[show.Title]]</p>
      <p>[[show.Year]]</p>
      <p>[[show.Type]]</p>
      <p>[[show.Poster]]</p>
      <img src='show.Poster'>
      <hr>
    </div>
  </div>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}
{% endblock %}
